name: "jobjogger"

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspaces/jobjogger:cached
    command: sleep infinity
    depends_on:
      - postgres

  postgres:
    image: postgres:16.1
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: jobjogger_api_development
    ports:
      - "5432:5432"

volumes:
  postgres-data:
